<h2>Setup & Import</h2>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Show all columns when displaying df
pd.set_option('display.max_columns', None)

In [3]:
# Import data and setup dataframe
df = pd.read_csv('data/T_T100_SEGMENT_ALL_CARRIER.csv')

In [4]:
# Import lookup tables
carrier_classes = pd.read_csv('data/L_CARRIER_GROUP_NEW.csv')
area_codes_table = pd.read_csv('data/L_WORLD_AREA_CODES.csv')
aircraft_types = pd.read_csv('data/L_AIRCRAFT_TYPE.csv')
city_markets = pd.read_csv('data/L_CITY_MARKET_ID.csv')
service_classes = pd.read_csv('data/L_SERVICE_CLASS.csv')
aircraft_configs = pd.read_csv('data/L_AIRCRAFT_CONFIG.csv')
aircraft_groups = pd.read_csv('data/L_AIRCRAFT_GROUP.csv')
airport_coords = pd.read_csv('data/T_MASTER_CORD.csv')

<h2>Data Cleaning</h2>

<h4>Carrier Classes</h4>

In [5]:
# Create simplified list of carrier class descriptions
carrier_classes_modified = []
for carrier_type in carrier_classes['Description']:
    index = carrier_type.index('Carrier')
    substr = carrier_type[:index-1]
    carrier_classes_modified.append(substr)

carrier_classes['Carrier Class'] = carrier_classes_modified

In [6]:
#Inspect updated carrier_classes
carrier_classes

   Code                                        Description       Carrier Class
0     0                                   Foreign Carriers             Foreign
1     1  Large Regional Carriers (carriers with annual ...      Large Regional
2     2  National Carriers (carriers with annual revenu...            National
3     3  Major Carriers (carriers with annual revenue o...               Major
4     4  Medium Regional Carriers (carriers with annual...     Medium Regional
5     5  Small Certificated Carriers (carrier holding c...  Small Certificated
6     6  Commuter Carriers (air taxi operator which per...            Commuter
7     7  All Cargo Carriers operating under cerificates...           All Cargo
8     9  Commuter Carriers (Air Taxi providing Essentia...            Commuter

In [7]:
# Replace carrier groups with descriptions from modified lookup table
df = df.merge(carrier_classes, left_on='CARRIER_GROUP_NEW', right_on='Code', how='left')
df = df.drop(columns=['Code', 'Description', 'CARRIER_GROUP_NEW'])

<h4>World Area Codes (WAC)</h4>

In [8]:
# Replace WAC code with descriptions from lookup table
df = df.merge(area_codes_table, left_on='ORIGIN_WAC', right_on='Code', how='left')
df['ORIGIN_WAC'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

df = df.merge(area_codes_table, left_on='DEST_WAC', right_on='Code', how='left')
df['DEST_WAC'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

<h4>Aircraft type</h4>

In [9]:
# Preview aircraft_types
aircraft_types.head()

   Code                                Description
0     7                         Aero Commander 200
1     8                          Aero Macchi AL-60
2     9                               Aeronca 7-AC
3    10  Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/  36A
4    20                            Bellanca CH-300

In [10]:
# Replace aircraft type code with descriptions from lookup table
df = df.merge(aircraft_types, left_on='AIRCRAFT_TYPE', right_on='Code', how='left')
df['AIRCRAFT_TYPE'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

<h4>City Markets</h4>

In [11]:
# Preview city_markets
city_markets.head()

    Code           Description
0  30001      Afognak Lake, AK
1  30003  Granite Mountain, AK
2  30004               Lik, AK
3  30005      Little Squaw, AK
4  30006          Kizhuyak, AK

In [12]:
# Replace city market codes with descriptions from lookup table
df = df.merge(city_markets, left_on='ORIGIN_CITY_MARKET_ID', right_on='Code', how='left')
df['ORIGIN_CITY_MARKET_ID'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

df = df.merge(city_markets, left_on='DEST_CITY_MARKET_ID', right_on='Code', how='left')
df['DEST_CITY_MARKET_ID'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

<h4>Service Classes</h4>

In [13]:
# Preview service_classes
service_classes.head()

  Code                                        Description
0    A   Scheduled First Class Passenger/ Cargo Service A
1    C         Scheduled Coach Passenger/ Cargo Service C
2    E  Scheduled Mixed First Class And Coach, Passeng...
3    F               Scheduled Passenger/ Cargo Service F
4    G                      Scheduled All Cargo Service G

In [14]:
# Replace service class code with descriptions from lookup table
df = df.merge(service_classes, left_on='CLASS', right_on='Code', how='left')
df['CLASS'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

<h4>Aircraft Configs</h4>

In [15]:
# Preview aircraft_configs
aircraft_configs.head()

   Code                                    Description
0     1                        Passenger Configuration
1     2                          Freight Configuration
2     3  Combined Passenger and Freight on a main deck
3     4                                       Seaplane

In [16]:
# Replace aircraft config code with descriptions from lookup table
df = df.merge(aircraft_configs, left_on='AIRCRAFT_CONFIG', right_on='Code', how='left')
df['AIRCRAFT_CONFIG'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

<h4>Aircraft Groups</h4>

In [17]:
# Preview aircraft_groups
aircraft_groups.head()

   Code                                        Description
0     0  Piston, 1-Engine/Combined Single Engine (Pisto...
1     1                                   Piston, 2-Engine
2     2                          Piston, 3-Engine/4-Engine
3     3                                    Helicopter/Stol
4     4                      Turbo-Prop, 1-Engine/2-Engine

In [18]:
# Replace aircraft group code with descriptions from lookup table
df = df.merge(aircraft_groups, left_on='AIRCRAFT_GROUP', right_on='Code', how='left')
df['AIRCRAFT_GROUP'] = df['Description']
df = df.drop(columns=['Code', 'Description'])

<h3>Add Load Factor Calculation</h3>

In [19]:
#Add Load Factor column on flight level
df['Load Factor'] = df['PASSENGERS'] / df['SEATS']
df['Load Factor'] = df['Load Factor'].fillna(0)

<h3>Add Lattitude/Longitude Coordinates</h3>

In [20]:
airport_coords.head()

  AIRPORT     DISPLAY_AIRPORT_NAME   LATITUDE   LONGITUDE
0     01A     Afognak Lake Airport  58.109444 -152.906667
1     03A  Bear Creek Mining Strip  65.548056 -161.071667
2     04A          Lik Mining Camp  68.083333 -163.166667
3     05A     Little Squaw Airport  67.570000 -148.183889
4     06A             Kizhuyak Bay  57.745278 -152.882778

In [21]:
df = df.merge(airport_coords, left_on='ORIGIN', right_on='AIRPORT', how='left')
df['ORIGIN_LATITUDE'] = df['LATITUDE']
df['ORIGIN_LONGITUDE'] = df['LONGITUDE']
df = df.drop(columns=['AIRPORT', 'DISPLAY_AIRPORT_NAME', 'LATITUDE', 'LONGITUDE'])

df = df.merge(airport_coords, left_on='DEST', right_on='AIRPORT', how='left')
df['DEST_LATITUDE'] = df['LATITUDE']
df['DEST_LONGITUDE'] = df['LONGITUDE']
df = df.drop(columns=['AIRPORT', 'DISPLAY_AIRPORT_NAME', 'LATITUDE', 'LONGITUDE'])

<h3>Drop 0 departures performed</h3>

In [24]:
df.shape

(4558393, 42)

In [29]:
df = df.drop(df[df.DEPARTURES_PERFORMED < 1.0].index)

In [30]:
df.shape

(4548272, 42)

<h2>Display Final Table</h2>

In [31]:
df[:10]

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,UNIQUE_CARRIER,UNIQUE_CARRIER_NAME,REGION,CARRIER,CARRIER_NAME,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,ORIGIN_COUNTRY_NAME,ORIGIN_WAC,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_NM,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE,Carrier Class,Load Factor,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DEST_LATITUDE,DEST_LONGITUDE
1320,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.814444,-147.862778,64.814444,-147.862778
1321,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.814444,-147.862778,64.815000,-147.856389
1322,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.814444,-147.862778,64.815278,-147.856667
1323,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.815000,-147.856389,64.814444,-147.862778
1324,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.815000,-147.856389,64.815000,-147.856389
1325,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.815000,-147.856389,64.815278,-147.856667
1326,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.815278,-147.856667,64.814444,-147.862778
1327,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.815278,-147.856667,64.815000,-147.856389
1328,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,40.0,38.0,8V,Wright Air Service,D,8V,Wright Air Service,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Fairbanks, AK",FAI,"Fairbanks, AK",Alaska,United States,Alaska,"Turbo-Prop, 1-Engine/2-Engine",Cessna 208 Caravan,Freight Configuration,2024,3,7,1,Non-Scheduled Civilian All Cargo Service P,DU,Small Certificated,0.0,64.815278,-147.856667,64.815278,-147.856667
1329,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,216.0,174.0,X9,Omni Air International LLC,D,X9,Omni Air International LLC,"Dallas/Fort Worth, TX",AFW,"Dallas/Fort Worth, TX",Texas,United States,Texas,"Dallas/Fort Worth, TX",AFW,"Dallas/Fort Worth, TX",Texas,United States,Texas,"Jet, 2-Engine",Boeing 767-300/300ER,Passenger Configuration,2024,1,3,1,Non-Scheduled Civilian Passenger/ Cargo Service L,DU,National,0.0,32.986667,-97.317500,32.986667,-97.317500

In [ ]:
# Download to csv
df.to_csv('exports/T-100_Segment_Data.csv')